{% extends 'base.html' %}

{% block title %} HOME {% endblock %}
{% load static %}

{% block content %}
<link href="{% static 'css/jsonTree.css' %}" rel="stylesheet" />
<link href="{% static 'css/fieldsLinker.css' %}" rel="stylesheet" />

    <!-- Page content-->
    <div class="container">
        <div class="text-center mt-5">
            <h1>Data Mapper</h1>
            <p class="lead">Consiste em transformar os dados de output de uma API em dados conforme o DCAT-AP</p>
            <p>v0.1.3</p>
        </div>

        <div class="my-3 p-3 bg-grey border-dark border border-dark  rounded box-shadow">

        <p>Get Data From API URL</p>
      

        <form class="example" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label class="form-label">Data API URL</label>            
            {{ form.url }}
              {% for error in form.url.errors %}    
                <div class="form-text text-danger">{{ error }}</div>
              {% endfor %}
            
          </div>

          <div class="mb-3">
            <label for="headers-input" class="form-label">Data API URL Headers:</label>
            <div id="headers-container">
              <div class="input-group mb-3">
                <input type="text" class="form-control header-key" placeholder="Enter Header Key" name="keyHeaderData" required>
                <input type="text" class="form-control header-value" placeholder="Enter Header Value" name="valueHeaderData" required>
                <div class="input-group-append">
                  <button class="btn btn-outline-danger remove-header" type="button" style="background-color: red;">X</button>
                </div>
              </div>
            </div>
            <button class="btn btn-info add-header" type="button" style="background-color: #17a2b8;">Add Header</button>
            {% for error in form.headers.errors %}    
              <div class="form-text text-danger">{{ error }}</div>
            {% endfor %}
          </div>

          <div class="mb-3">
            <label class="form-label">MetaData API URL</label>
            {{ form.urlMetaData }}
              {% for error in form.urlMetaData.errors %}    
                <div class="form-text text-danger">{{ error }}</div>
              {% endfor %}
          </div>
          

          <div class="mb-3">
            <label for="headers-input" class="form-label">MetaData API URL Headers:</label>
            <div id="headers2-container">
              <div class="input-group mb-3">
                <input type="text" class="form-control header-key" placeholder="Enter Header Key" name="keyHeaderMeta" required>
                <input type="text" class="form-control header-value" placeholder="Enter Header Value" name="valueHeaderMeta" required>
                <div class="input-group-append">
                  <button class="btn btn-danger remove-header2" type="button" style="background-color: red;">X</button>
                </div>
              </div>
            </div>
            <button class="btn btn-info add-header2" type="button" style="background-color: #17a2b8;">Add Header</button>
            {% for error in form.headersMeta.errors %}    
              <div class="form-text text-danger">{{ error }}</div>
            {% endfor %}
            <br><br>
            <hr>
          </div>
          
          
          <div class="form-check">
            <input type="radio" class="form-check-input" id="noneModel" name="flexRadioDefault" value="noneModel" checked>
            <label class="form-check-label" for="noneModel">None Model</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="AirQuality2" name="flexRadioDefault" value="AirQuality">
            <label class="form-check-label" for="AirQuality">Fiware Air Quality Observed Model</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="device" name="flexRadioDefault" value="device">
            <label class="form-check-label" for="device">Fiware Device Model</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="Weather" name="flexRadioDefault" value="Weather">
            <label class="form-check-label" for="Weather">Fiware Weather Model</label>
          </div><br>

          <button type="submit" id="getDataUrl" class="btn btn-primary">Submit <i class="fa fa-search"></i></button>
        </form>


        <div class="root"></div>
      
        
        <div id="container">
      
            <div id="bonds"></div>
            <hr/>
             <button type="button" class="btn fieldLinkerSave btn-sm btn-primary">Save links</button>
             &nbsp;<span id="output"></span>
             <br /><br />
             <div id="input">
             
             </div>
         
          </div>
        </div>

  
  <script src="{% static 'js/fieldsLinker.js' %}"></script><!--
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>-->
  <script>  
  
    var fieldLinks;
    var input;
   
    $( document ).ready(function() {

       
      // Adicionar novo grupo de entrada de cabeçalho
      function addHeaderInput() {
        n=document.querySelectorAll("[name^='keyHeaderData']").length+1;
        name="keyHeaderData"+n
        namev="valueHeaderData"+n

        var newInputGroup = `
          <div class="input-group mb-3">
            <input type="text" class="form-control header-key" placeholder="Enter Header Key" name="`+name+`" required>
            <input type="text" class="form-control header-value" placeholder="Enter Header" name="`+namev+`" required>
            <div class="input-group-append">
              <button class="btn btn-outline-danger remove-header" type="button" style="background-color: red;">X</button>
            </div>
          </div>
        `;

        $("#headers-container").append(newInputGroup);
      }

      function addHeaderInput2() {
        n=document.querySelectorAll("[name^='keyHeaderMeta']").length+1;
        name="keyHeaderMeta"+n
        namev="valueHeaderMeta"+n
        var newInputGroup = `
          <div class="input-group mb-3">
            <input type="text" class="form-control header-key" placeholder="Enter Header Key"  name="`+name+`" required>
            <input type="text" class="form-control header-value" placeholder="Enter Header Value"  name="`+namev+`" required>
            <div class="input-group-append">
              <button class="btn btn-outline-danger remove-header2" type="button" style="background-color: red;">X</button>
            </div>
          </div>
        `;

        $("#headers2-container").append(newInputGroup);
      }

      // Remover o grupo de entrada de cabeçalho clicado
      function removeHeaderInput() {
        $(this).closest(".input-group").remove();
      }

      // Adicionar ouvintes de eventos para botões de adição / remoção
      $(".add-header").click(addHeaderInput);
      $(".add-header2").click(addHeaderInput2);
      $("#headers-container").on("click", ".remove-header", removeHeaderInput);
      $("#headers2-container").on("click", ".remove-header2", removeHeaderInput);

 
      var formData = "{{ formData | escapejs}}";
      formData =JSON.parse(formData);
      console.log(formData)
      if (formData.length!=0){
            document.querySelector('input[type="radio"][value="'+formData["flexRadioDefault"]+'"]').checked = true;
            document.getElementById( "headers-container").innerHTML = "";
            document.getElementById( "headers2-container").innerHTML = "";

            //preferi colocar assim varios loopes do que colocar aqui funções de espera onde os dados inicias podem mudar e assim causa erro
            for (var key in formData["keyHeaderData"]) {             
                addHeaderInput();
            }
            var i=0;
            for (var key in formData["keyHeaderData"]) { 
              i=i+1;
              name="keyHeaderData"+i
              namev="valueHeaderData"+i       
              document.querySelector('input[name="'+name+'"]').value=key;
              document.querySelector('input[name="'+namev+'"]').value=formData["keyHeaderData"][key];
            }

            for (var key in formData["keyHeaderMeta"]) {             
                addHeaderInput2();
            }
            i=0;
            for (var key in formData["keyHeaderMeta"]) { 
              i=i+1;
              name="keyHeaderMeta"+i
              namev="valueHeaderMeta"+i       
              document.querySelector('input[name="'+name+'"]').value=key;
              document.querySelector('input[name="'+namev+'"]').value=formData["keyHeaderMeta"][key];
            }

      }


      let apiModelFields="{{apiModelFields | escapejs}}"
      
      apiModelFields =JSON.parse(apiModelFields);
    
      if (apiModelFields=="None" || apiModelFields.length==0){
              return
      }

 

    let existingLinks="{{existingLinks | escapejs}}"
    existingLinks =JSON.parse(existingLinks);
    console.log(existingLinks)

    let intermediateModelFields="{{intermediateModelFields | escapejs}}"
    intermediateModelFields =JSON.parse(intermediateModelFields);
   



    //let inputMdl="{{inputMdl | escapejs}}"
   
    //inputMdl =JSON.parse(inputMdl);
    
    let vkApiData ="{{vkApiData | escapejs}}"
    vkApiData =JSON.parse(vkApiData);

    //console.log(vkApiData)

		var input = {
			    "localization":{
					"mandatoryErrorMessage":"This field is mandatory",
				},
			    "options":{
					"byName" : true,
					"lineStyle":"square-ends",
					"buttonErase":"Erase Links",
					"autoDetect":"off",
					"effectHover": "on",
          "effectHoverBorderWidth" : 2
				},
				"listA":
					{
						"name":"Columns in files",
						"list" : apiModelFields
					},
				"listB":
					{
						"name":"Available Fields",
						"list" : intermediateModelFields, //inputMdl ,
						"mandatories" :[
						//	"nomeR",
						//	"titulo"
						]
					},
					"existingLinks" : existingLinks //[{"from":"id","to":"nome"}]
			};

      

			
		  	fieldLinks=$("#bonds").fieldsLinker("init",input);

        $(".FL-right ul li").append('<i class="fa fa-pencil" style="right: 8px; color: rgb(170, 170, 170); position: absolute;"> </i>')
        //style="right: 8px; color: rgb(170, 170, 170); position: absolute; top: 50%; transform: translateY(-50%);">
   			
			$(".fieldLinkerSave").on("click",function(){
				var results = fieldLinks.fieldsLinker("getLinks");
     
        console.log(results['linksOrder'][0]['from'])

        if(results['error']==false){

          for ( let i=0; i<results['links'].length; i++){
            
            results['links'][i]['path']=vkApiData[ results['linksOrder'][i]['from'] ];
        
          }
          
          alert($("input[name='flexRadioDefault']:checked").val())
          results["flexRadioDefault"] = $("input[name='flexRadioDefault']:checked").val();
          $.ajax({
                  type: "POST",
                  //url: "home",
                  dataType: "json",
                  //contentType: 'application/json; charset=utf-8',
                  data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'links': JSON.stringify(results)
                  },
                  success: function (data, status) {
                    console.log( data ) //$.parseJSON(data)
                    console.log(status)
                    alert("Data: " + data + "\nStatus: " + status);
                  
                  }
         });

        }
				$("#output").html("output => " + JSON.stringify(results));

			});
			
		});
 
		$(".lineStyle input[type='radio'").on("click",function(){
			var lineStyle = $("input[name='lineStyle']:checked").val();
			fieldLinks.fieldsLinker("changeParameters",{"lineStyle":lineStyle});
			$(".lineStyle label").removeClass("active");
			$(this).parent().addClass("active");
		});

    let liClicked=null
    $(document).on('click','.FL-right ul li i', function(e){

      
      $("#container").append( '<!-- The Modal -->'+
      '<div class="modal" id="myModal">'+
            '<div class="modal-dialog">'+
              '<div class="modal-content">'+
               
                '<!-- Modal Header -->'+
                '<div class="modal-header">'+
                  '<h5 class="modal-title">header</h5>'+
                  '<button type="button" class="btn-close" data-bs-dismiss="modal"></button>'+
                  '</div>'+
          
                '<!-- Modal body -->'+
                '<div class="modal-body">'+
                  
                  '<form>'+
                      '<div class="mb-3">'+
                        '<label for="Value" class="col-form-label">Value:</label>'+
                          '<input type="text" class="form-control" id="value" />'+
                          ' </div>'+                
                      '</form>'+

                    '</div>'+
          
                '<!-- Modal footer -->'+
                '<div class="modal-footer">'+
                  '<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>'+
                  '</div>'+
          
              '</div>'+
          '</div>')



      liClicked=$(this)
      $('#myModal').modal('toggle');
     
      
    });

    $(document).on('hidden.bs.modal','#myModal', function(e){
    //$("#myModal").on("hidden.bs.modal", function () {
      console.log("Aquiii")
      console.log( $("#value").val() )
      liClicked.parent().attr( "data-val", $("#value").val() )

      console.log(liClicked.parent().data('val'))
      if( $("#value").val().length !==0 ){
        liClicked.css('color', '#5EBA7D');
        console.log("trueeeeee")
      }else{ 
        liClicked.parent().removeData('val');
        liClicked.parent().removeAttr("data-val");
        liClicked.css('color', '#aaaaaa');
        console.log("false")
        
      }
      
    });
   
	
  
     </script>  
        
{% endblock %}